<nav>
  <ul>
    <li><%= link_to t('layout.new_vehicle'), new_vehicle_path %> </li>
    <li><%= link_to t('layout.vehicle'), vehicles_path %> </li>
    <li><%= link_to t('layout.my_profile'),user_path(current_user) %>
    </li>
    <li><%= link_to t('layout.signout'), user_sessions_path, :method => :delete %>
    </li>
  </ul>
</nav>